/* ===============================
CSS Styles
===================================*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #464646;
  font-size: 100%;
  margin: 0;
  line-height: 1.4283;
  font-family: "Segoe UI", Roboto, Verdana, "Helvetica Neue", sans-serif;
}

h1 {
  font-size: 50px;
  margin-bottom: 1.5rem;
  letter-spacing: -0.06em;
  font-weight: 700;
  line-height: 1;
}

.post__meta {
  font-size: 14px;
  line-height: 1.65;
  color: #6a6767;
  display: block;
  margin-bottom: 0.5rem;
}

/* ===============================
Wrapper
===================================*/

.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.inner__wrapper {
  flex-grow: 1;
}

.inner {
  margin: 0 auto;
  padding: 0 20px;
  max-width: 900px;
}

/* ===============================
Header Area
===================================*/

.site__header {
  height: 58px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.07), 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  color: #212529;
}

.nav__area {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  height: 58px;
}

.logo {
  text-decoration: none;
  font-size: 25px;
  color: inherit;
  margin-right: 20px;
}

.menus {
  display: flex;
  list-style: none;
}

.menu__items {
  position: relative;
  font-size: 14px;
}

.menu__items a {
  display: block;
  font-size: inherit;
  color: inherit;
  text-decoration: none;
  text-align: left;
  padding: 0.7rem 1rem;
}

.menu__items:last-child a {
  padding-right: 0;
}

.menu__items a:hover {
  background-color: #f2f2f2;
}

/* ===============================
Content Area
===================================*/

.hero p {
  font-size: 1.25rem;
  line-height: 1.75rem;
  margin-bottom: 2rem;
}

.content {
  margin: 0 auto;
  max-width: 700px;
  padding: 4.5rem 1rem;
}

/* ===============================
Footer Area
===================================*/

.footer__content {
  font-size: 14px;
  color: #6a6767;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-top: 1px solid #e8e8e8;
  align-items: center;
  padding: 1.5rem 0;
}

/* ===============================
Blog Page
===================================*/

.post_item {
  list-style: none;
  margin-bottom: 2rem;
}

.post_item article {
  border: 1px solid #eaeaea;
  padding: 20px;
  border-radius: 5px;
}

.post_item a {
  text-decoration: none;
  color: inherit;
}

.post_item:last-child {
  margin-bottom: 0;
}

.post_item h2 {
  font-size: 1.5em;
  margin-bottom: 0.5rem;
  line-height: 1.4;
  font-weight: 600px;
}

/* ===============================
Single post
===================================*/

.single__post header,
.single__post p,
h2,
h3 {
  margin-bottom: 1.3rem;
}

.single__post ol,
.single__post ul {
  margin: 0 0 1.45rem 1.45rem;
}

.single__post li {
  margin-bottom: 0.5rem;
}
